.title h2{
    font-size:20px;
}


.profile h4{
    font-size:14px;
}


.profile p{
    font-size:11px;
}



.welcome h1{
    font-size:22px;
}


.welcome p{
    font-size:13px;
}



.card h3{
    font-size:16px;
}


.card p{
    font-size:12px;
}



.card i{
    font-size:32px;
}
