*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;

}



body{

    background:#3b3a40;
    color:#1f2937;

}



.container{

    width:90%;
    margin:auto;

}





/* Header */

header{

    margin-top:20px;

    background:white;

    padding:12px 20px;

    border-radius:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.18);

}



.title h2{

    font-size:20px;

    color:#1e3a8a;

}





/* Profile */


.profile{

    position:relative;

    display:flex;

    align-items:center;

    gap:10px;

    cursor:pointer;

}



.profile img{

    width:45px;

    height:45px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid #2563eb;

}



.profile h4{

    font-size:14px;

    color:#111827;

}



.profile p{

    font-size:11px;

    color:#16a34a;

}





/* Profile Dropdown */


.profile-menu{

    position:absolute;

    right:0;

    top:55px;

    width:160px;

    background:white;

    border-radius:12px;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.25);

    display:none;

    overflow:hidden;

    z-index:100;

}



.profile-menu div{

    padding:12px;

    font-size:14px;

    display:flex;

    align-items:center;

    gap:10px;

    color:#374151;

}



.profile-menu div:hover{

    background:#eff6ff;

    color:#2563eb;

}





/* Welcome */


.welcome{

    margin:25px 0;

    color:white;

}



.welcome h1{

    font-size:22px;

}



.welcome p{

    font-size:13px;

    color:#d1d5db;

}







/* Cards */


.cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(210px,1fr));

    gap:20px;

}





.card{

    background:white;

    padding:25px 20px;

    border-radius:18px;

    text-align:center;

    cursor:pointer;

    border:1px solid #e5e7eb;

    box-shadow:

    0 8px 25px rgba(0,0,0,0.18);

    transition:.3s;

}





.card:hover{

    transform:translateY(-7px);

    border-color:#2563eb;

    box-shadow:

    0 15px 35px rgba(37,99,235,0.25);

}






.card i{

    font-size:32px;

    color:#2563eb;

    margin-bottom:12px;

}




.card h3{

    font-size:16px;

    color:#111827;

}



.card p{

    font-size:12px;

    color:#6b7280;

    margin-top:8px;

}





/* Mobile */


@media(max-width:600px){


.container{

    width:94%;

}



header{

    padding:12px;

}



.title h2{

    font-size:18px;

}



.profile img{

    width:40px;

    height:40px;

}



.cards{

    grid-template-columns:1fr;

}



}
