*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;

}


body{

background:#f4f7fb;

}


.container{

width:90%;
margin:auto;

}



/* Header */

header{

margin-top:20px;

background:white;

padding:15px 25px;

border-radius:15px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,0.08);

}


.title h2{

color:#087f3d;

}




.profile{

display:flex;
align-items:center;
gap:12px;

}



.profile img{

width:55px;
height:55px;

border-radius:50%;

object-fit:cover;

border:3px solid #087f3d;

}



.profile h4{

font-size:16px;

}


.profile p{

color:green;

font-size:13px;

}




/* Welcome */


.welcome{

margin:35px 0;

}


.welcome h1{

font-size:30px;

}


.welcome p{

color:#777;

}




/* Cards */


.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(230px,1fr));

gap:25px;

}



.card{

background:white;

padding:30px;

border-radius:18px;

text-align:center;

cursor:pointer;

box-shadow:0 8px 25px rgba(0,0,0,0.08);

transition:.3s;

}



.card:hover{

transform:translateY(-8px);

}



.card i{

font-size:40px;

color:#087f3d;

margin-bottom:15px;

}



.card h3{

margin-bottom:10px;

}



.card p{

color:#777;

font-size:14px;

}




@media(max-width:600px){


.container{

width:94%;

}


header{

padding:15px;

}


.welcome h1{

font-size:24px;

}


}
