.entry-header{

    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:25px;

}


.entry-header h2{

    margin:0;

    color:#03543f;

}



.back-btn{

    width:auto;

    padding:8px 15px;

    background:#03543f;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

}


.back-btn:hover{

    background:#01261d;

}
