*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

height:100vh;
overflow:hidden;
background:
linear-gradient(
135deg,
#111827,
#2563eb
);

display:flex;
justify-content:center;
align-items:center;

}



.scene{

width:100%;
height:100%;
position:relative;

}



/* Character */

.character{

position:absolute;
bottom:120px;
left:-100px;

font-size:80px;

animation:

walk 5s forwards;

}



@keyframes walk{


0%{

left:-100px;

}


100%{

left:45%;

}

}




/* Bag */

.bag{

position:absolute;

bottom:60px;
left:48%;

font-size:70px;

cursor:pointer;

animation:

drop 5s forwards;


}



@keyframes drop{


0%{

transform:translateY(-200px);

opacity:0;

}


100%{

transform:translateY(0);

opacity:1;

}


}




/* Login Portal */


.login-box{


position:absolute;

width:350px;

background:white;

padding:30px;

border-radius:20px;

left:50%;

bottom:130px;

transform:

translateX(-50%) scale(0);


opacity:0;


transition:.8s;


box-shadow:
0 20px 40px rgba(0,0,0,.4);


text-align:center;


}



.login-box.show{


transform:

translateX(-50%) scale(1);


opacity:1;


}



.login-box h2{

margin-bottom:20px;

color:#2563eb;

}



input{


width:100%;

padding:12px;

margin:8px 0;

border-radius:8px;

border:1px solid #ddd;


}



button{


width:100%;

padding:12px;

border:0;

background:#2563eb;

color:white;

border-radius:8px;

cursor:pointer;

font-weight:bold;


}


button:hover{

background:#1d4ed8;

}


#msg{

margin-top:10px;

color:red;

}
