body{

font-family:Arial, sans-serif;
background:#f3f3f3;

}


.container{

width:90%;
max-width:1000px;
margin:30px auto;
background:white;
padding:20px;
border-radius:10px;

}


h2{

text-align:center;

}



.form-box{

display:grid;
gap:10px;

}



input,select,button{

padding:10px;
font-size:16px;

}



button{

background:#0066ff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}


button:hover{

opacity:.8;

}



table{

width:100%;
border-collapse:collapse;
margin-top:20px;

}


th{

background:#0066ff;
color:white;

}



td,th{

padding:10px;
border:1px solid #ddd;
text-align:center;

}



img{

width:45px;
height:45px;
border-radius:50%;
object-fit:cover;

}



.delete-btn{

background:red;

}



.edit-btn{

background:green;

}



@media(max-width:600px){


.container{

width:95%;

}


table{

font-size:12px;

}


}
